{% extends 'base.html'%}
{% block content %}
{% for article in articles %}
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 m-0 p-o">
  <div class="main_content floatleft">
    <div class="left_coloum floatleft">
      <div class="single_left_coloum_wrapper">
        <h2 class="title">{{article.author}}</h2>
        <a class="more" href="#">more</a>
        <div class="single_left_coloum floatleft"> <img src="{{article.urlToImage}}" alt="" />
          <h3>{{ article.description}}</h3>
          <p>{{ article.publishedAt|truncate(13)}}</p>
          <a class="readmore" href="#">read article</a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endfor%}
{% endblock %}